<?xml version="1.0"?>
<model>
  <name>Test Quadcopter</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>blckmn</name>
    <email>blckmn@betaflight.com</email>
  </author>

  <description>
    Minimal quadcopter for testing BetaflightPlugin
  </description>
</model>
